html {
	background-color: #B20061;
}

body {
	background-color: white;
	width: 90%;
	height: 1000px;
	margin: auto;
	padding-top: 100px;
}

.carousel {
	width: 80%;
	margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
  }


.img {
	
	max-height: 315px;
	
}

.collec1, .collec2, .collec3 {
	height: 300px;
	width: 250px;
	border: black 2px solid;
	display: inline-block;
	margin-top: 150px;
}

.collec1 {
	float: left;
}

.collec2 {
	margin-left: 18%;
}

.collec3 {
	float: right;
}