html {
	background-color: #B20061;
}

body {
	background-color: white;
	width: 90%;
	height: 2000px;
	margin: auto;
}

.carousel {
	width: 80%;
	margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
  }

