.gr {
	width: 100px;
	height: 100px;
	background-color: #FF00A4;
}

.a {
	width: 100px;
	height: 100px;
	background-color: #FF1996;
}

.z {
	width: 100px;
	height: 100px;
	background-color: #B20061;
}

.e {
	width: 100px;
	height: 100px;
	background-color: #E87E00;
}

.r {
	width: 100px;
	height: 100px;
	background-color: #B20061;
}

.t {
	width: 100px;
	height: 100px;
	background-color: #FF9619;
}

.y {
	width: 100px;
	height: 100px;
	background-color: #9B5400;
}

.u {
	width: 100px;
	height: 100px;
	background-color: #50FF0D;
}

.i {
	width: 100px;
	height: 100px;
	background-color: #62FF26;
}

.o {
	width: 100px;
	height: 100px;
	background-color: #35B205;
}